{{!--  // google auth  --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- https://materializecss.com/getting-started.html CDN Compiled & minified CSS --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {{!-- https://cdnjs.com/libraries/font-awesome under styles top line all version --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />   
    <link rel="stylesheet" href="/css/google-auth-style.css">
    <title>GoalCreations Login</title>
</head>
<body>
    <h1 class = "title">Welcome to the App that Turns Your Goals into Victorious Creations</h1>
    <div class="container login-container">          
              <div class="insert-content">
                  {{{body}}}
              </div>    
    </div>

    {{!-- https://materializecss.com/getting-started.html CDN Compiled & minified JavaScript --}}          
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>